.idea
FrontEnd/kick/node_modules/
FrontEnd/kick/.firebase/
FrontEnd/kick/build/

BackEnd/.idea
FrontEnd/kick/.firebase/hosting.YnVpbGQ.cache
FrontEnd/kick/.firebase/hosting.YnVpbGQ.cache
FrontEnd/kick/.firebase/hosting.YnVpbGQ.cache
